.page-picture {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    min-height: 740px;
    background-image: url('../../images/page-picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    .page-picture {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .page-picture {
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .page-picture {
        min-height: 200px;
    }
}