.footer__navigation-link {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    transition: opacity 0.3s linear;
}

.footer__navigation-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .footer__navigation-link {
        font-size: 24px;
        line-height: 24px;
    }
}