.page-subtitle {
    margin: 0;
    max-width: 690px;
    min-width: 288px;
    padding: 0 394px 92px 100px;
}

@media screen and (max-width: 1024px) {
    .page-subtitle {
        padding: 0 286px 92px 48px;
    }
}

@media screen and (max-width: 768px) {
    .page-subtitle {
        padding: 0 24px 88px 24px;
    }
}

@media screen and (max-width: 425px) {
    .page-subtitle {
        padding: 0 16px 64px 16px;
    }
}