.photo-galery {
    margin: 0;
    display: grid;
    max-width: 1184px;
    max-height: 2724px;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    gap: 16px;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .photo-galery {
        gap: 14px;
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        padding: 0 48px 92px 48px;
    }
}

@media screen and (max-width: 768px) {
    .photo-galery {
        gap: 14px;
        grid-template-columns: repeat(auto-fit, minmax(352px, max-content));
        padding: 0 24px 88px 24px;
    }
}

@media screen and (max-width: 425px) {
    .photo-galery {
        gap: 12px;
        grid-template-columns: 1fr;
        padding: 0 16px 64px 16px;
    }
}