.photo-galery {
    margin: 0;
    display: grid;
    max-width: 1184px;
    height: 671px;
    /*grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    gap: 16px;
    padding-bottom: 92px;
}