.page-title__subtitle {
    margin:0;
    padding: 32px 0 64px 0;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    max-width: 640px;
}

@media screen and (max-width: 1024px) {
    .page-title__subtitle {
        padding: 32px 0 56px 0;
    }
}

@media screen and (max-width: 768px) {
    .page-title__subtitle {
        padding: 32px 64px 56px 64px;
        font-size: 3.91vw;
        line-height: 4.68vw;
    }
}

@media screen and (max-width: 425px) {
    .page-title__subtitle {
        padding: 16px 16px 40px 16px;
        font-size: 16px;
        line-height: 20px;
    }
}