.places {
   padding: 0 100px 92px 100px;
   margin: 0;
}

@media screen and (max-width: 1024px) {
   .places {
      padding: 0 48px 92px 48px;
   }
}

@media screen and (max-width: 768px) {
   .places {
      padding: 0 24px 90px 24px;
   }
}

@media screen and (max-width: 425px) {
   .places {
      padding: 0 0px 66px 0px;
   }
}