.page-picture__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    padding-bottom: 32px;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .page-picture__title {
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 16px;
    }
}