.page-title {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 56px 100px 92px 100px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .page-title {
        padding: 48px 48px 92px 48px;
    }
}

@media screen and (max-width: 768px) {
    .page-title {
        padding: 48px 0px 88px 0px;
    }
}

@media screen and (max-width: 320px) {
    .page-title {
        padding: 48px 0px 64px 0px;
    }
}