.footer__copyright {
    margin:0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #fff;
}

@media screen and (max-width: 425px) {
    .footer__copyright {
        text-align: left;
        font-size: 14px;
        line-height: 14px;
    }
}