.header__language-panel-item {
    margin: 0 18px 0 0;
    text-align: center;
    transition: opacity 0.3s linear;
    padding: 0;
}

.header__language-panel-item:last-child {
    margin-right: 0;
}

.header__language-panel-item:hover {
    opacity: 0.8;
}

@media screen and (max-width: 425px) {
    .header__language-panel-item {
        margin-top: 13px;
    }
}
