.header__language-panel-item {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    text-decoration: none;
    margin: 0;
}

.header__language-panel-item:first-child {
    padding-right: 18px;
}