.places__card {
    margin: 0;
    display: grid;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 40px;
}

.places__card:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .places__card {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .places__card {
        gap: 48px 28px;
    }
}