.page-title__image-text {
    margin: 0;
    color: #fff;
    padding-top: 8px;
    align-self: flex-start;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .page-title__image-text {
        padding-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .page-title__image-text {
        padding-left: 16px;
    }
}