.page-title__title {
    margin: 0;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    max-width: 720px;
}

@media screen and (max-width: 768px) {
    .page-title__title {
        font-size: 40px;
        line-height: 44px;
        padding: 0 24px 0 24px;
    }
}

@media screen and (max-width: 425px) {
    .page-title__title {
        font-size: 40px;
        line-height: 44px;
        padding: 0 16px 0 16px;
    }
}