@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__language-panel/header__language-panel.css);
@import url(../blocks/header/__language-panel-item/header__language-panel-item.css);
@import url(../blocks/header/__language-panel-item/_state/header__language-panel-item_state_active.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/page-title/page-title.css);
@import url(../blocks/page-title/__image-text/page-title__image-text.css);
@import url(../blocks/page-title/__map-image/page-title__map-image.css);
@import url(../blocks/page-title/__subtitle/page-title__subtitle.css);
@import url(../blocks/page-title/__title/page-title__title.css);
@import url(../blocks/page-subtitle/page-subtitle.css);
@import url(../blocks/page-subtitle/__title/page-subtitle__title.css);
@import url(../blocks/page-subtitle/__subtext/page-subtitle__subtext.css);
@import url(../blocks/page-subtitle/__text/page-subtitle__text.css);
@import url(../blocks/photo-galery/photo-galery.css);
@import url(../blocks/photo-galery/__item/photo-galery__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__card-image/places__card-image.css);
@import url(../blocks/places/__card-text-container/places__card-text-container.css);
@import url(../blocks/places/__card-text/places__card-text.css);
@import url(../blocks/places/__card-title/places__card-title.css);
@import url(../blocks/places/__card/places__card.css);
@import url(../blocks/places/__cards/places__cards.css);
@import url(../blocks/places/__link-container/places__link-container.css);
@import url(../blocks/places/__link-url/places__link-url.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/page-picture/page-picture.css);
@import url(../blocks/page-picture/__link/page-picture__link.css);
@import url(../blocks/page-picture/__subtitle/page-picture__subtitle.css);
@import url(../blocks/page-picture/__title/page-picture__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__navigation/footer__navigation.css);
@import url(../blocks/footer/__navigation-item/footer__navigation-item.css);
@import url(../blocks/footer/__navigation-link/footer__navigation-link.css);
@import url(../blocks/footer/__navigation-items/footer__navigation-items.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);