@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__language-panel/header__language-panel.css);
@import url(../blocks/header/__language-panel/_state/header__language-panel_state_active.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/page-title/page-title.css);
@import url(../blocks/page-title/__image-text/page-title__image-text.css);
@import url(../blocks/page-title/__map-image/page-title__map-image.css);
@import url(../blocks/page-title/__subtitle/page-title__subtitle.css);
@import url(../blocks/page-title/__title/page-title__title.css);
@import url(../blocks/page-subtitle/page-subtitle.css);
@import url(../blocks/page-subtitle/__subtext/page-subtitle__subtext.css);
@import url(../blocks/page-subtitle/__text/page-subtitle__text.css);
@import url(../blocks/photo-galery/photo-galery.css);
@import url(../blocks/photo-galery/__item/photo-galery__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__subtitle/places__subtitle.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/page-picture/page-picture.css);
/* Возможно придётся убрать page-picture__image. Пока ещё непонятно как реализую */
@import url(../blocks/page-picture/__image/page-picture__image.css);
@import url(../blocks/page-picture/__subtitle/page-picture__subtitle.css);
@import url(../blocks/page-picture/__title/page-picture__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__navigation/footer__navigation.css);