.footer {
    padding-top: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 92px 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 64px 16px 0 16px;
        flex-direction: column;
        align-items: stretch;
    }
}