.footer {
    padding-top: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 92px 48px 0 48px;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 88px 0 0 0;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        padding: 64px 0 0 0;
    }
}