.places__card-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
    color: #fff;
    padding-bottom: 26px;
    margin: 0;
}

.places__card-text:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .places__card-text {
        font-size: 16px;
    }
}