.places__card-title {
    margin: 0;
    color: #fff;
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 768px) {
    .places__card-title {
        font-size: 5.47vw;
        line-height: 5.99vw;
    }
}

@media screen and (max-width: 425px) {
    .places__card-title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px 0px 16px;
    }
}